page-online-list {

}

.liste-profile-photo {
  border-radius: 50% !important;
  overflow: hidden;
  border: 2px solid #828994;
}

.id-text {
  font-style: oblique;
  font-size: smaller;
}


.profile-photo {
  border-radius: 50% !important;
  overflow: hidden;
  border: 2px solid #828994;
}


