page-employee-details {

}

.profile-photo {
  border-radius: 50% !important;
  overflow: hidden;
  border: 2px solid #8c8f90;
}

.first-last-name-xl {
  font-size: x-large;
}

.id-text {
  font-style: oblique;
  font-size: smaller;
  color: #908d8d;
}

.white-color{
  color: #FFFFFD;
}
